html {
  scroll-behavior: smooth;
}
body{
	margin: 0;
	font-family: monospace;
}
.home-banner{
	position: relative;
	box-shadow: 1px 5px 5px 5px #000000;
}
.home-banner .text-content{
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-banner .text-content .name{
	font-family: cursive;
	font-size: 44px;
	letter-spacing: 2px;
	margin: 0;
}
.home-banner .text-content .job-position{
	font-size: 30px;
    color: #339999;
}
.page-content .home-banner img{
	width: 100%;
	height: 500px;
	object-fit: cover;
}
.section-nav .content{
	display: flex;
	justify-content: center;
	margin: 10px 0;
	background: #33999929;
	height: 70px;
}
.section-nav .content ul{
	padding-left: 0;
	list-style: none;
	display: flex;
	align-items: center;
}
.section-nav .content ul li{
	width: 200px;
	text-align: center;
	text-transform: uppercase;
}
.section-nav .content ul li a{
	color: black;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
} 
.section-nav .content ul li a:hover{
	font-size: 20px;
	transition: all 0.5s;
}
.section-about, .section-technology, .section-contact{
	margin-top: 100px;
}
.section-about .title, .section-technology .title, .section-contact .title{
	text-align: center;
	font-size: 40px;
	font-family: cursive;
	letter-spacing: 2px;
}
.section-about .text-content, .section-technology .content{
	display: flex;
	justify-content: center;
}
.section-about .text-content .content{
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.section-about .text-content .content .text, .section-about .text-content .content .image{
	width: 40%;
	font-size: 24px;
}
.section-about .text-content .content .image img{
	width: 100%;
}
 .section-technology .content ul{
 	display: flex;
 	padding-left: 0;
 	list-style: none;
 }
 .section-technology .content ul li{
 	margin: 0 30px;
 	padding: 30px;
 	text-align: center;
 	box-shadow: 3px -4px 5px 0px rgba(201,192,192,0.75);
	-webkit-box-shadow: 3px -4px 5px 0px rgba(201,192,192,0.75);
	-moz-box-shadow: 3px -4px 5px 0px rgba(201,192,192,0.75);
 }
 .section-technology .content ul img{
  	width: 100%;
 }
 .btn{
	 border-radius: 20px;
	 color: #fff;
	 margin-top: 18px;
	 padding: 10px;
	 background-color: #339999;
	 font-size: 12px;
	 border: none;
	 cursor: pointer;
 }
 .section-contact .content{
	 display: flex;
	 justify-content: space-between;
	 margin: 0 30px;
 }
 .section-contact .contact-box{
	 width: 48%;
	 text-align: center;
	 display: flex;
	 justify-content: center;
 }
 .section-contact .contact-box form{
	 width: 500px;
	 box-shadow: 0 0 20px 0 #000000;
	 border-radius: 20px;
	 padding: 20px 0;
 }
 .section-contact .contact-box form .input-field{
	 width: 400px;
	 height: 40px;
	 margin-top: 20px;
	 padding-left: 10px;
	 padding-right: 10px;
	 border: 1px solid #339999;
	 border-radius: 14px;
	 outline: none;
 }
 .section-contact .contact-box form .textarea-field{
	 height: 150px;
	 padding-top: 10px;
 }
 .section-contact .social-links{
	 margin-top: 80px;
	 width: 48%;
 }
 .section-contact .social-links p{
	 padding-top: 10px;
	 font-size: 16px;
 }
 .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook {
	background: #3B5998;
	color: white;
}
.fa-instagram {
	background: #125688;
	color: white;
}
.fa-twitter {
	background: #55ACEE;
	color: white;
}
.fa-linkedin {
	background: #007bb5;
	color: white;
}
.footer{
	margin-top: 100px;
	border-top: 2px solid;
}
.footer ul{
	list-style: none;
	padding-left: 0;
}
.footer .content{
	display:flex;
	justify-content: space-between;
	margin: 0 30px;
}
.footer .footer-first-col, .footer .footer-second-col, .footer .footer-third-col{
	width: 33%;
}
.footer .footer-third-col ul{
	display: flex;
}
.footer .copyright{
	border-top: 2px dashed;
    margin-top: 30px;
    text-align: center;
}
.footer .footer-first-col p{
	font-size: 16px;
}
.footer ul a{
	color: #000000;
	text-decoration: none;
}
.footer .footer-third-col a{
	color: white;
}
.footer ul li{
	line-height: 20px;
	font-size: 14px;
}